<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RestKitCrash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E5C448641D2CFD1900923EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5C448801D2CFD1900923EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5C4488B1D2CFD1900923EBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
